# SIH26106 Forensics Backend API URL
VITE_API_BASE_URL=http://127.0.0.1:8000

# Supabase Authentication Configuration
VITE_SUPABASE_URL=https://xbaulrosqdphmuedhoyk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_aIM4zAeG2O2xM5_MINImkQ_QEryfxmc

